/**
* @template: Lol

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
		+ about
    + Experience
    + Skiils
		+ portfolio
    + services
		+ Client
		+ Blog
		+ Contact
		+ Footer

*/
@import url(main.css);




/*********************
      GENERAL
*********************/
body {
  position: relative;
  font-weight: 300;
  overflow-x: hidden !important;
}

* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  /*list-style: none !important;*/
  outline: none !important;
}

.loader-inner {
  margin-left: 50%;
}

.parallax {
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: background-position .2s ease-in;
  transition: background-position .2s ease-in;
  background-size: cover;
}

/** Title **/
.title {
  position: relative;
  margin: auto;
  display: block !important;
}
.title h4 {
  position: relative;
  text-align: center;
  margin: 0 auto 1.5rem;
  color: #222;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.title h4::before {
  content: '';
  background: url(../img/clouds9.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.title p {
  text-align: center;
  width: 60%;
  margin: auto;
  color: #444;
}

/** THEME COLOR **/
main {
  position: relative;
  z-index: 0;
}

/*********************
      Navbar
*********************/
.logo {
  top: 15px;
  left: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  color: #333;
  z-index: 999999;
  cursor: pointer;
}

.nav-btn {
  width: 26px;
  height: 30px;
  position: fixed;
  display: block;
  cursor: pointer;
  right: 20px;
  z-index: 999999;
  margin-top: 15px;
}

.nav-btn span, .nav-btn span:before, .nav-btn span:after {
  position: absolute;
  height: 2px;
  width: 26px;
  background-color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.nav-btn span {
  top: 50%;
}

.nav-btn span:before {
  content: '';
  top: -6px;
}

.nav-btn span:after {
  content: '';
  top: 6px;
}

.nav-btn.open span, .nav-btn.open span:before, .nav-btn.open span:after {
  background-color: #fff;
}

.nav-btn.open span {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  background-color: #111;
}

.nav-btn.open span:before, .nav-btn.open span:after {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.nav-btn.open span:before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
          transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.nav-btn.open span:after {
  -webkit-transform: translateX(4px) translateY(3px) rotate(-45deg);
          transform: translateX(4px) translateY(3px) rotate(-45deg);
}

main nav {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(21, 20, 20, 0.99);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 99999;
}
main nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/service-pattern.png);
  width: 100%;
  height: 100%;
  opacity: .2;
}
main nav ul {
  list-style: none;
  position: absolute;
  top: 100px;
}
main nav ul li {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 300px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main nav ul li:first-child {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

main nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

main nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

main nav ul li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

main nav.open ul li {
  margin-left: 0;
}
main nav.open ul li a {
  text-decoration: none;
  color: #ddd;
}
main nav.open ul li a:hover {
  color: #fff;
}

@media screen and (max-width: 616px) {
  main nav {
    width: 150px;
    right: -150px;
  }

  main nav li {
    font-size: 1rem !important;
    margin-top: 10px !important;
  }
}
main nav.open {
  right: 0;
}

/*********************
      Header
*********************/
.header {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.header::before {
  background: rgba(255, 232, 232, 0.6);
}
.header .info h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.header .info h1 span {
  display: block;
  font-size: 1rem;
  text-align: justify;
  color: #007ec3;
}
.header .info h4 {
  font-size: 2.25rem;
  color: #007ec3;
}
.header .info .social_icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.header .info .social_icon i:hover {
  background-color: #007ec3;
  color: #fff;
}

/*********************
      About
*********************/
.wrap {
  background: #fff;
  position: relative;
  margin: -50px auto;
  max-width: 1240px;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  overflow-x: hidden !important;
}

.about {
  overflow-x: hidden !important;
}
.about .hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .hero .info {
  vertical-align: middle;
}
.about .hero .info h4 {
  font-size: 2rem;
}
.about .hero .info h6 {
  font-size: 1.2rem;
  color: #282830;
  letter-spacing: 1.8px;
}
.about .photo {
  padding: 0;
  position: relative;
  border-radius: 5px;
}
.about .photo img {
  border-radius: 5px;
}
.about .photo::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100%;
  height: 100%;
  border: 10px solid #f4f5f8;
}
.about .photo::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100%;
  height: 100%;
  border: 10px solid #f4f5f8;
}

/*********************
      Experience
*********************/
.experience {
  background: url(../img/aboutme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.experience::before {
  background: rgba(0, 17, 31, 0.8);
}
.experience .title h4 {
  color: #fff;
}
.experience .title h4::before {
  opacity: .1;
}
.experience .title p {
  color: #e8e8e8;
}
.experience .timeline-bar {
  width: 100%;
  height: 2px;
  background: #fff;
  margin: .5rem auto;
}
.experience .blok {
  position: relative;
  background: rgba(17, 31, 43, 0.5);
  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem 0;
  -webkit-transition: all .8s;
  transition: all .8s;
  border-radius: 5px;
}
.experience .blok h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #ccc;
}
.experience .blok p {
  color: #e8e8e8;
}
.experience .blok .from, .experience .blok .to {
  display: inline-block;
  width: 48%;
  color: #888;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.experience .blok .from span, .experience .blok .to span {
  display: block;
  font-weight: 500;
  color: #969696;
}
.experience .blok::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(17, 31, 43, 0.5);
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
}
.experience .blok::before {
  content: "";
  position: absolute;
  top: -46px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
}
.experience .blok:hover {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

/*********************
      Skills
*********************/
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.skills {
  position: relative;
  background: #f4f5f8;
  overflow-x: hidden !important;
}
.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/service-pattern.png);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: .8;
}
.skills .progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  background-color: inherit;
}
.skills .progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: 600;
  margin: 2rem;
}
.skills .progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-size: .8rem;
  font-weight: 600;
}
.skills .progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.skills .progress svg {
  width: 10rem;
  height: 10rem;
}
.skills .progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.skills .progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: #f4f5f8;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}

/*********************
      Portfolio
*********************/
.portfolio {
  overflow: hidden !important;
}
.portfolio .filtering {
  margin: 0 auto;
}
.portfolio .filtering button {
  position: relative;
  margin: 0px 10px;
  padding: 5px 5px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #777;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.portfolio .filtering button::after {
  content: '';
  position: absolute;
  left: 45%;
  top: 30px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #00c4fb;
  display: none;
}
.portfolio .filtering button:hover {
  color: #00c4fb;
}
.portfolio .filtering button:hover:after {
  display: block;
}
.portfolio .filtering .active {
  color: #00c4fb;
  border-top: 1px solid #f7f7f7;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.portfolio .filtering .active::after {
  display: block;
}
.portfolio .gallery {
  margin: 0;
  padding: 0;
}
.portfolio .gallery .item-img {
  padding: 5px;
  margin: 0;
}
.portfolio .gallery .item-img img {
  border: 1px solid #f4f5f8;
  border-radius: 4px;
}
.portfolio .gallery .item-img .item-img-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #f7f7f7;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fff;
  z-index: 1;
}
.portfolio .gallery .item-img .item-img-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 170%;
  width: 100%;
  height: 100%;
  border: 1px solid #00c4fb;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}
.portfolio .gallery .item-img .item-img-overlay:hover:after {
  top: 0;
  left: -170%;
}
.portfolio .gallery .item-img .item-img-overlay:hover {
  opacity: 1;
}

/*
.portfolio .gallery .item-img .item-img-overlay .cap {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: -50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

*/

.portfolio .gallery .item-img .item-img-overlay h6 {
  font-weight: 900;
  margin-bottom: 20px;
  color: #111;
}
.portfolio .gallery .item-img .item-img-overlay .icon a {
  display: inline-block;
  margin: 1rem;
  font-size: 1.2rem;
  color: #00c4fb;
}
.portfolio .gallery .item-img .item-img-overlay .icon a:hover {
  color: #ddd;
}
.portfolio .gallery .item-img .item-img-overlay:hover .cap {
  bottom: 50%;
  margin-bottom: -50px;
}

/*********************
      Services
*********************/

.blue li {
  color:#fff !important;
}


.services {
  position: relative;
  background: #f4f5f8;
  overflow-x: hidden !important;
}
.services .services-item {
  padding: 2rem 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.services .services-item .icon span {
  text-align: center;
  /* background-color: #fff; */
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #007ec3;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.services .services-item h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

/*
.services .services-item:hover span {
  background-color: #007ec3;
  color: #fff;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.12);
}

*/

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/pattern7.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: .8;
}

/*********************
      testimonel
*********************/
.testimonel {
  background: url(../img/bk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.testimonel::before {
  background: rgba(0, 17, 31, 0.97);
}
.testimonel .title h4 {
  color: #fff;
}
.testimonel .title h4::before {
  opacity: .1;
}
.testimonel #sync1 .item {
  background: rgba(17, 31, 43, 0.5);
  padding: 4rem 1rem;
  margin: 5px;
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.testimonel #sync1 .item p {
  padding: 0 3rem;
  color: #e8e8e8;
}
.testimonel #sync1 .item h4 {
  color: #00c4fb;
  margin-bottom: 1rem;
}
.testimonel #sync1 .item h5 {
  font-size: .9rem;
  color: #ccc;
}
.testimonel #sync2 .item {
  width: 80px;
  height: 80px;
  margin: 5px auto;
  border-radius: 50%;
  cursor: pointer;
  opacity: .2;
}
.testimonel #sync2 .item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testimonel #sync2 .current .item {
  opacity: 1;
}

/*********************
      Blog
*********************/
.blog {
  overflow-x: hidden !important;
}
.blog .post {
  border: 2px solid #f4f5f8;
  border-radius: 10px;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.blog .post .post-thumbnail img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.blog .post .text {
  position: relative;
  padding: .5rem 1rem;
}
.blog .post .text .comment, .blog .post .text .like {
  position: absolute;
  top: -65px;
  background: #fff;
  padding: 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 900;
}
.blog .post .text .comment i, .blog .post .text .like i {
  padding-right: .5rem;
  color: #00c4fb;
}
.blog .post .text .comment {
  right: 0;
}
.blog .post .text .like {
  left: 0;
}
.blog .post .text h4 {
  font-size: 1.1rem;
  font-weight: 700;
}
.blog .post .text h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  color: #999;
}
.blog .post:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.12);
}

/*********************
      Contact
*********************/
.contact {
  overflow-x: hidden !important;
}
.contact .contact-info {
  margin: auto;
}
.contact .contact-info .contact-item {
  display: table;
  position: relative;
  padding-left: 45px;
  margin: 30px 0;
}
.contact .contact-info .contact-item .c-icon {
  display: inline-block;
  background: #00c4fb;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.contact .contact-info .contact-item .c-icon i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #fff;
}
.contact .contact-info .contact-item .c-text {
  display: inline-block !important;
  margin-left: 1.5rem;
}
.contact .contact-info .contact-item .c-text h5 {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.contact .full-form {
  background-color: #fff;
  padding: 0 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
.contact .full-form .form input, .contact .full-form .form textarea {
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0px 0px -6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0px 0px -6px rgba(0, 0, 0, 0.1);
}
.contact .full-form .form textarea {
  max-height: 150px;
  min-height: 150px;
}
.contact .full-form .form button {
  width: 100%;
}

/*********************
      Footer
*********************/
.footer {
  background-color: #f4f5f8;
  padding: 2rem;
  border-top: 1px solid #e0e0e0;
  color: #777;
}
.footer h6 {
  font-size: .8rem;
}

/*********************
      demo-1
*********************/
.demo-1 {
  background: url(../img/tardis_five_doctors.jpg);
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  height: 90vh;
  max-width: 100%;
  -webkit-clip-path: none;
          clip-path: none;
}
.demo-1 #particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.demo-1 h1 {
  color: #f7f7f7;
}
.demo-1 .social_icon span i {
  color: #fff !important;
}
.demo-1 .social_icon span:hover i {
  color: #000 !important;
}

/*********************
      demo-2
*********************/
.demo-2 {
  position: relative;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

/*********************
      demo-r
*********************/
.home {
  padding-top: 4rem;
}
.home h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.home p {
  font-size: .9rem;
}

.index-content .item-demo {
  border-radius: 5px;
  -webkit-transition: all .8s;
  transition: all .8s;
  cursor: pointer;
}
.index-content .item-demo img {
  border-radius: 5px;
}
.index-content .item-demo:hover {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.13), 0 0px 0px 0 rgba(0, 0, 0, 0.13), 0 0px 0px -6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.13), 0 0px 0px 0 rgba(0, 0, 0, 0.13), 0 0px 0px -6px rgba(0, 0, 0, 0.13);
}
.index-content a {
  color: #333;
}
.index-content a h6 {
  font-size: .9rem;
  font-weight: 700;
}

.index {
  background-color: inherit;
  text-align: center;
  border-top: 1px solid #f3f3f3;
}
